body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


.container{
    background-color: #AEDEFC;
    border-radius: 20px;
    margin-top: 50px;
}
h1{
    font-weight: 700;
    font-style: italic;
}
h1:hover{
    color: rgb(255, 0, 119);
    cursor: pointer;
}
.color{
    color: #F875AA;
}
.back{
    background-color: #F875AA;
}
p{
    color: #025caf;
    font-weight: 500;
    font-size: large;
}

.space{
    height: 300px;
}
.am-cont-color{
    background-color: #025caf;
    padding: 5px 0;
    padding-top: 20px;
}
.am-p-color{
    color: aliceblue;
}
a{
    text-decoration: none;
}